/*
 * Nextflow config for 2x BAM downsampling on Bunya.
 */

params {
    accessions = null
    bam_dir = null
    outdir = null
    bam_suffix = '.bam'
    target_depth = 2
    seed = 67
    chrom_regex = '^Chr(0[1-9]|1[0-7])$'
}

process {
    shell = ['/bin/bash', '-euo', 'pipefail']
}

profiles {
    bunya {
        process {
            executor = 'slurm'
            queue = 'general'
            clusterOptions = '--account=a_qaafi_cas'
            cpus = 4
            memory = '8 GB'
            time = '24h'
            module = 'samtools/1.18-gcc-12.3.0'
        }

        executor {
            queueSize = 50
        }
    }
}
